@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Contacts" asp-action="Index" class="btn btn-primary">Contacts/Index</a>
    <a asp-controller="Contacts" asp-action="Details" class="btn btn-primary">Contacts/Details</a>
    <a asp-controller="Contacts" asp-action="Add" class="btn btn-primary">Contacts/Add</a>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
