@model Exercie01Contacts.Models.Contact

@{
    ViewData["Title"] = "Add";
}

<div class="container mt-4">
    <div class="text-center">
        <h1 class="display-4">Ajouter un Contact</h1>
    </div>

    <form asp-action="Add" method="post">
        <div class="form-group">
            <label for="name">Nom</label>
            <input type="text" class="form-control" id="name" name="Name" placeholder="Entrez le nom">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="Email" placeholder="Entrez l'email">
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Ajouter</button>
    </form>
    <br />
    <a href="@Url.Action("Index", "Contacts")" class="btn btn-secondary">Retour à la liste</a>
    <a href="/" class="btn btn-secondary">Page d'accueil</a>
</div>
