@model Exercie01Contacts.Models.Contacts

<div class="container mt-4">
    <div class="text-center">
        <h1 class="display-4">Détails du Contact</h1>
    </div>

    @if (Model != null)
    {
        <div class="card">
            <div class="card-header">
                Détails
            </div>
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                <p class="card-text">@Model.Email</p>
                <a href="@Url.Action("Index", "Contacts")" class="btn btn-primary">Retour à la liste</a>
            </div>
        </div>
    }
    else
    {
        <p>Contact non trouvé.</p>
    }
</div>
